# Это библиотека для работы с данными в Python, которая предоставляет эффективные структуры данных, такие как DataFrame и Series, для хранения и манипуляции табличными данными.
pandas

# Библиотека для автоматической визуализации и анализа данных. Она генерирует отчеты с визуализациями и статистикой по DataFrame в формате HTML.
sweetviz

# Инструмент для создания, упаковки и распространения Python-пакетов. Он облегчает установку и управление зависимостями. В контексте проекта нужна для работы sweetviz
setuptools